<%- include('../partials/head', {title: product.brand.name + " " + product.name ,stylesheets: "/stylesheets/index.css"}) %>  

<body>
    <%- include('../partials/header') %>   
    </header>
    <main>
        <section>
            <article class="detail">
                <div class="contenedor-detail">
                    <div class="img-producto">              
                        <img class="card-img" src="/images/products/<%= product.image %>" alt="">
                    </div>
                
                    <div class="producto-info">
                        <h2 class="card-name-producto"><%= product.category.name %></h2>
                        <h2 class="card-name-producto"><%= product.brand.name + " " + product.name %></h2>
                        <hr style="border-color:gray">
                        <% if (product.discount > 0) { %>
                            <p class="card-price-linedthrough">$<%= product.price %> </p>
                            <p class="card-price-discount"> <%= Math.round(product.discount) %>% OFF </p>
                            <h3 class="card-price">$<%= product.price - product.price * product.discount / 100 %></h3>
                        <% } else { %>
                            <h3 class="card-price">$<%= product.price %></h3>
                        <% } %>
                        <hr style="border-color:gray">
                        
                        <p class="icono"><i class="fas fa-check"></i>Stock disponible: <%= product.stock %> unidades</p>
                        <p class="icono"><i class="fas fa-truck"></i>Envíos a todo el país</p>
                        <hr style="border-color:gray">
                        <a href="/admin/manageProduct/edit/<%= product.id %>">
                            <button class="productEdit">Editar <i class="fa-solid fa-pen"></i></button>
                        </a>
                        <form action="/admin/manageProduct/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button class="productDelete">Eliminar <i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
                <div class="descripcion">
                    <h3>CARACTERISTICAS GENERALES:</h3>
                    <p><%= product.description%></p>
                </div>
            </article>      
        </section>

    </main>
     
</body>

</html>